name: Telegram Historias Bot

on:
  schedule:
    - cron: "0 8 * * *"
    - cron: "0 13 * * *"
    - cron: "0 19 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python app.py
